# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://help.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "maven"
    directory: "/"
    schedule:
      interval: "weekly"
    assignees: ["yrodiere"]
    # We don't trigger Jenkins or GitHub Actions builds on pull requests from dependabot,
    # so we can safely use a high limit here.
    open-pull-requests-limit: 20
    ignore:
      # These dependencies are updated manually
      - dependency-name: "org.hibernate:*"
      - dependency-name: "org.hibernate.*:*"
      # AWS SDK releases way too often (every week?); ignore all patch updates
      - dependency-name: "software.amazon.awssdk:*"
        update-types: ["version-update:semver-patch"]
      # JRuby releases way too often (every two weeks?) and is only used during the build; ignore all patch updates
      - dependency-name: "org.jruby:jruby-complete"
        update-types: ["version-update:semver-patch"]
      # We don't care that much about being on the very latest version of some integration test dependencies
      - dependency-name: "org.springframework.boot:*"
        update-types: [ "version-update:semver-patch" ]
      # Upgrading to asciidoctorj-pdf 1.5.0 or later won't work for
      # some reason; we're getting strange errors that led me to think the
      # font-size has the wrong type (string instead of number).
      # See b8f044eea92d6f2dd3421779f54b8923e00a26b7
      - dependency-name: org.asciidoctor:asciidoctorj-pdf
      # We strictly align these dependencies on the version used in Hibernate ORM.
      - dependency-name: "org.jboss:jandex"
      - dependency-name: "javax.persistence:javax.persistence-api"
      - dependency-name: "javax.enterprise:cdi-api"
      - dependency-name: "jakarta.persistence:jakarta.persistence-api"
      - dependency-name: "jakarta.enterprise:jakarta.enterprise.cdi-api"
      - dependency-name: "jakarta.xml.bind:jakarta.xml.bind-api"
      - dependency-name: "net.bytebuddy:*"
      # Newer majors of the following artifacts comply with the Jakarta specification (jakarta.* packages),
      # but we comply with Java EE (javax.* packages) for now.
      # TODO HSEARCH-4394 Remove these when switching to Jakarta EE as the default standard
      - dependency-name: "org.jboss.weld.se:*"
        update-types: ["version-update:semver-major"]
      - dependency-name: "org.jberet:*"
        update-types: ["version-update:semver-major"]
      # Newer minors of the following artifacts are only compatible with JDK 11+,
      # but we strive for JDK 8 compatibility (still).
      # TODO HSEARCH-4556 / HSEARCH-4555 Remove this when making JDK 11 our baseline
      - dependency-name: "org.jboss.logging:*"
        update-types: ["version-update:semver-major", "version-update:semver-minor"]
      # Sticking to Derby 10.14 for now since later versions require JDK 9+, and we need to test with JDK 8.
      # See https://db.apache.org/derby/derby_downloads.html
      - dependency-name: "org.apache.derby:*"
        update-types: ["version-update:semver-major", "version-update:semver-minor"]
      # This dependency uses classifiers (.jre11, -preview, ...) in its version, and dependabot can't decide which versions are relevant.
      # See https://github.com/dependabot/dependabot-core/issues/4028
      - dependency-name: "com.microsoft.sqlserver:mssql-jdbc"
      # Sticking to SLF4J 1.x for now since later versions require to upgrade providers
      # (Log4j, ... see https://www.slf4j.org/faq.html#changesInVersion200),
      # and also because we only need this dependency for AWS SDK,
      # which is currently still on SLF4J 1.x
      # (see https://search.maven.org/artifact/software.amazon.awssdk/aws-sdk-java-pom/2.17.257/pom)
      - dependency-name: "org.slf4j:*"
        update-types: ["version-update:semver-major"]
