<?xml version="1.0" encoding="UTF-8"?>
<!--
 ~ Hibernate Search, full-text search for your domain model
 ~
 ~ License: GNU Lesser General Public License (LGPL), version 2.1 or later
 ~ See the lgpl.txt file in the root directory or <http://www.gnu.org/licenses/lgpl-2.1.html>.
  -->
<module xmlns="urn:jboss:module:1.1" name="org.hibernate.search.engine" slot="${hibernate.search.version}">
    <resources>
        <resource-root path="hibernate-search-engine-${hibernate.search.version}.jar" />
    </resources>
    <dependencies>
        <module name="javax.transaction.api" />
        <module name="org.hibernate.commons-annotations" />
        <module name="org.apache.lucene" export="true" slot="${lucene.module.slot}" />
        <module name="org.jboss.logging" />

        <!-- JMS backend support -->
        <module name="org.hibernate.search.backend-jms" export="true" optional="true" slot="${hibernate.search.version}" />

        <!-- JGroups and Infinispan 7 integrations -->
        <module name="org.jgroups" optional="true" slot="${jgroups.module.slot}" />
        <module name="org.hibernate.search.infinispan-storage" slot="${infinispan.integration.slot}" services="import" optional="true" />

        <!-- optional Avro serialization -->
        <module name="org.hibernate.search.serialization-avro" slot="${hibernate.search.version}" services="import" optional="true" />

        <!-- For naming -->
        <module name="javax.api" />
        <module name="org.jboss.as.naming" />
    </dependencies>
</module>
