<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Hibernate, Relational Persistence for Idiomatic Java
  ~
  ~ Copyright (c) 2012, Red Hat, Inc. and/or its affiliates or third-party contributors as
  ~ indicated by the @author tags or express copyright attribution
  ~ statements applied by the authors.  All third-party contributions are
  ~ distributed under license by Red Hat, Inc.
  ~
  ~ This copyrighted material is made available to anyone wishing to use, modify,
  ~ copy, or redistribute it subject to the terms and conditions of the GNU
  ~ Lesser General Public License, as published by the Free Software Foundation.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
  ~ or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Lesser General Public License
  ~ for more details.
  ~
  ~ You should have received a copy of the GNU Lesser General Public License
  ~ along with this distribution; if not, write to:
  ~ Free Software Foundation, Inc.
  ~ 51 Franklin Street, Fifth Floor
  ~ Boston, MA  02110-1301  USA
  -->
<module xmlns="urn:jboss:module:1.1" name="org.hibernate.search.engine" slot="${hibernate.search.module.slot}">
    <resources>
        <resource-root path="hibernate-search-engine-${hibernate.search.version}.jar" />
        <resource-root path="hibernate-search-infinispan-${hibernate.search.version}.jar" />
        <resource-root path="hibernate-search-analyzers-${hibernate.search.version}.jar" />
        <resource-root path="avro-${avroVersion}.jar" />
        <resource-root path="jackson-core-asl-${jacksonAslVersion}.jar" />
        <resource-root path="jackson-mapper-asl-${jacksonAslVersion}.jar" />
        <resource-root path="paranamer-${paranamerVersion}.jar" />
    </resources>
    <dependencies>
        <module name="javax.transaction.api" />
        <module name="org.hibernate" />
        <module name="org.hibernate.commons-annotations" />
        <module name="org.apache.lucene" export="true" slot="${luceneVersion}" />
        <module name="org.apache.solr" export="true" optional="true" slot="${luceneVersion}" />
        <module name="org.infinispan.lucene-directory" export="true" services="import" slot="${infinispanVersion}" />
        <module name="org.infinispan" />
        <module name="org.infinispan.commons" />
        <module name="org.jboss.logging" />
        <module name="org.jgroups" />
        <module name="javax.persistence.api" />
        <module name="javax.jms.api" />

        <!-- For naming (used by Hibernate Search Infinispan) -->
        <module name="javax.api" />
        <module name="org.jboss.as.naming" />
    </dependencies>
</module>
