# Typically *NIX text editors, by default, append '~' to files on saving to make backups
*~

# Some editors, such as DIA, use this extension for automatic saves
*.autosave

# Our build scripts - necessary for our release jobs
hibernate-noorm-release-scripts

#Checkstyle
.checkstyle

# Build output directories
target
bin

# IntelliJ specific files/directories
/out
.idea
*.ipr
*.iws
*.iml
atlassian-ide-plugin.xml

# Eclipse specific files/directories
.classpath
.project
.settings
.externalToolBuilders
.factorypath

# NetBeans specific files/directories
.nbattrs

# Sublime
*.sublime-*

# Miscellaneous
*.log
*.sh
.clover
.DS_Store
.attach_pid*

# Maven wrapper files
.mvn
mvnw*
/backend/elasticsearch/nb-configuration.xml
/backend/elasticsearch/licenseheader.txt
/backend/lucene/licenseheader.txt
/backend/lucene/nb-configuration.xml
/engine/licenseheader.txt
/engine/nb-configuration.xml
/integrationtest/backend/lucene/nb-configuration.xml
/util/internal/integrationtest/common/nb-configuration.xml