# Typically *NIX text editors, by default, append '~' to files on saving to make backups
*~

# Some editors, such as DIA, use this extension for automatic saves
*.autosave

# Our build scripts - necessary for our release jobs
hibernate-noorm-release-scripts

#Checkstyle
.checkstyle

# Build output directories
target
bin

# IntelliJ specific files/directories
/out
.idea
*.ipr
*.iws
*.iml
atlassian-ide-plugin.xml

# Eclipse specific files/directories
.classpath
.project
.settings
.externalToolBuilders
.factorypath

# NetBeans specific files/directories
.nbattrs
nb-configuration.xml
licenseheader.txt
nbactions.xml

# Sublime
*.sublime-*

# Miscellaneous
*.log
.clover
.DS_Store
.attach_pid*

# Bitronix transaction logs
*.btm

# Cache folders for formatting plugins:
.cache
