sudo: required
dist: trusty
language: java
jdk:
  - oraclejdk8
addons:
  # for now, let's test only with H2
  #postgresql: '9.4'
  #mariadb: '10.0'
  apt:
    packages:
      - oracle-java8-installer
# might be useful to push reports to an S3 bucket
#  artifacts:
#    paths:
#      - $(find $HOME -name surefire-reports | tr "\n" ":")
#      - $(find $HOME -name failsafe-reports | tr "\n" ":")
#  s3_region: 'us-west-2'
cache:
  directories:
    - $HOME/.m2
env:
  # for now, only test with the most recent version of ES for each major
  #- DB=h2 ELASTICSEARCH=2.0
  - DB=h2 ELASTICSEARCH=2.2
  - DB=h2 ELASTICSEARCH=5.0
  # for now, let's test only with H2
  #- DB=pgsql
  #- DB=mariadb
install:
  # The Maven install provided by Travis is outdated, use Maven wrapper to get the latest version
  - mvn -N io.takari:maven:wrapper
  - ./mvnw -v
  # first run to download all the Maven dependencies without logging
  - ./mvnw -s settings-example.xml -B -q clean install -DskipTests=true
  # we run checkstyle first to fail fast if there is a styling error
  - ./mvnw -s settings-example.xml checkstyle:check
before_script: 
  - case $DB in
    "h2") ;;
    "pgsql") psql -U postgres -f 'travis/pgsql.sql' ;;
    "mariadb") mysql -u root < 'travis/mariadb.sql' ;;
    esac
script:
  - case $DB in
    "h2") ;;
    "pgsql") BUILD_OPTIONS+=' -Pci-postgresql' ;;
    "mariadb") BUILD_OPTIONS+=' -Pci-mariadb' ;;
    esac
  - case $ELASTICSEARCH in
    2.0) BUILD_OPTIONS+=' -P!elasticsearch-2.2,elasticsearch-2.0' ;;
    2.2) ;;
    5.0) BUILD_OPTIONS+=' -P!elasticsearch-2.2,elasticsearch-5.0' ;;
    esac
  - ./mvnw -s settings-example.xml -Pdocs,dist $BUILD_OPTIONS clean install
