# The main CI of Hibernate Search is http://ci.hibernate.org/job/hibernate-search/. Travis CI can be
# used in github forks. https://travis-ci.org/hibernate/hibernate-search is
# therefore deactivated. Activating Travis for your own fork is as easy as
# activating it in the travis site of your fork.

sudo: false
dist: trusty
language: java
jdk:
  - oraclejdk8
cache:
  directories:
    - $HOME/.m2
env:
  global:
    # Unset _JAVA_OPTIONS to avoid raising the memory used by Elasticsearch
    # See https://hibernate.atlassian.net/browse/HSEARCH-3252
    - _JAVA_OPTIONS=
    # Ensure Maven doesn't eat up too much memory
    - MAVEN_OPTS=-Xmx756m
before_install:
  # Build options must be set before install, so that we properly retrieve *all* the necessary dependencies
  - BUILD_OPTIONS='-Pdist'
install:
  # The Maven install provided by Travis is outdated, use Maven wrapper to get the latest version
  - mvn -N io.takari:maven:wrapper
  - ./mvnw -v
  # First run to download most Maven dependencies without logging and to install our artifacts for the early checkstyle execution
  # We want to start as many plugins as possible (so that their dependencies are downloaded),
  # but we want the plugins to be skipped if they are not essential,
  # because they will be re-executed later and we don't want to waste time.
  - ./mvnw $BUILD_OPTIONS -B -q clean install javadoc:javadoc
    -DskipTests -Dmaven.javadoc.skip=true -Dcheckstyle.skip=true -Dforbiddenapis.skip=true -Djqassistant.skip=true
script:
  # We run checks first to fail fast if there is a styling error, then we run the actual build.
  - ./mvnw $BUILD_OPTIONS checkstyle:check
    && ./mvnw $BUILD_OPTIONS install javadoc:javadoc -Dcheckstyle.skip
before_cache:
  # Do not put the artifacts we just built into the cache
  - rm -r $HOME/.m2/repository/org/hibernate/hibernate-search*
