<?xml version="1.0" encoding="UTF-8"?>
<!--
 ~ Hibernate Search, full-text search for your domain model
 ~
 ~ License: GNU Lesser General Public License (LGPL), version 2.1 or later
 ~ See the lgpl.txt file in the root directory or <http://www.gnu.org/licenses/lgpl-2.1.html>.
  -->
<module xmlns="urn:jboss:module:1.3" name="org.hibernate.search.backend-jms" slot="${module-slot.org.hibernate.search.full-id}">
    <resources>
        <artifact name="${org.hibernate:hibernate-search-backend-jms}" />
    </resources>
    <dependencies>
        <module name="org.hibernate.search.engine" slot="${module-slot.org.hibernate.search.full-id}" />
        <module name="org.jboss.logging" />
        <module name="javax.jms.api" />
        <module name="org.jboss.as.naming" />
        <module name="javax.api"/>
    </dependencies>
</module>
