<?xml version="1.0" encoding="UTF-8"?>
<!--
 ~ Hibernate Search, full-text search for your domain model
 ~
 ~ License: GNU Lesser General Public License (LGPL), version 2.1 or later
 ~ See the lgpl.txt file in the root directory or <http://www.gnu.org/licenses/lgpl-2.1.html>.
  -->
<module xmlns="urn:jboss:module:1.3" name="org.hibernate.search.elasticsearch-aws" slot="${module-slot.org.hibernate.search.full-id}">
    <resources>
        <artifact name="${org.hibernate:hibernate-search-elasticsearch-aws}" />
    </resources>
    <dependencies>
        <module name="org.hibernate.search.engine" slot="${module-slot.org.hibernate.search.full-id}"/>
        <module name="org.hibernate.search.elasticsearch" slot="${module-slot.org.hibernate.search.full-id}"/>
        <module name="uk.co.lucasweb.aws-v4-signer-java" slot="${module-slot.uk.co.lucasweb.aws-v4-signer-java}"/>
        <module name="org.apache.httpcomponents"/>
        <module name="org.apache.commons.codec"/>
    </dependencies>
</module>
