<?xml version="1.0" encoding="UTF-8"?>
<!--
 ~ Hibernate Search, full-text search for your domain model
 ~
 ~ License: GNU Lesser General Public License (LGPL), version 2.1 or later
 ~ See the lgpl.txt file in the root directory or <http://www.gnu.org/licenses/lgpl-2.1.html>.
  -->
<module xmlns="urn:jboss:module:1.3" name="org.hibernate.search.elasticsearch" slot="${module-slot.org.hibernate.search.full-id}">
    <resources>
        <artifact name="${org.hibernate:hibernate-search-elasticsearch}" />
    </resources>
    <dependencies>
        <module name="org.hibernate.search.engine" slot="${module-slot.org.hibernate.search.full-id}"/>
        <module name="org.elasticsearch.client.elasticsearch-rest-client" slot="${module-slot.org.elasticsearch.client}"/>
        <module name="com.google.code.gson" slot="${module-slot.com.google.code.gson}"/>
        <module name="org.elasticsearch.client.elasticsearch-rest-client-sniffer" slot="${module-slot.org.elasticsearch.client}"/>
        <module name="javax.xml.bind.api"/>
        <module name="org.hibernate.commons-annotations"/>
        <module name="org.jboss.logging"/>
        <module name="org.apache.httpcomponents"/>

        <!-- AWS authentication support -->
        <!-- Note: we must export the services (hence the classes), because services are loaded using the -engine classloader -->
        <module name="org.hibernate.search.elasticsearch-aws" export="true" services="export" optional="true" slot="${module-slot.org.hibernate.search.full-id}" />
    </dependencies>
</module>
