<?xml version="1.0" encoding="UTF-8"?>
<!--
 ~ Hibernate Search, full-text search for your domain model
 ~
 ~ License: GNU Lesser General Public License (LGPL), version 2.1 or later
 ~ See the lgpl.txt file in the root directory or <http://www.gnu.org/licenses/lgpl-2.1.html>.
  -->
<module xmlns="urn:jboss:module:1.1" name="org.hibernate.search.elasticsearch-sniffer" slot="${hibernate.search.version}">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>
    <resources>
        <resource-root path="elasticsearch-rest-client-sniffer-${elasticsearchSnifferVersion}.jar"/>
    </resources>
    <dependencies>
        <module name="org.hibernate.search.elasticsearch-client" slot="${hibernate.search.version}"/>
        <!-- Make sure to test this:
          The Jackson version is a significantly different version than what is used to test and compile the Sniffer.
          Followed up by HSEARCH-2655  -->
        <module name="org.codehaus.jackson.jackson-core-asl"/>
        <module name="org.apache.httpcomponents"/>
        <module name="org.apache.commons.logging"/>
        <module name="org.apache.commons.codec"/>
        <module name="javax.xml.bind.api"/>
    </dependencies>
</module>
