<?xml version="1.0" encoding="UTF-8"?>
<!--
 ~ Hibernate Search, full-text search for your domain model
 ~
 ~ License: GNU Lesser General Public License (LGPL), version 2.1 or later
 ~ See the lgpl.txt file in the root directory or <http://www.gnu.org/licenses/lgpl-2.1.html>.
  -->
<module xmlns="urn:jboss:module:1.1" name="org.hibernate.search.hibernate-orm-repackage" slot="${hibernate.search.version}">
    <resources>
        <resource-root path="hibernate-core-${hibernateVersion}.jar"/>
        <resource-root path="hibernate-envers-${hibernateVersion}.jar"/>
        <resource-root path="hibernate-entitymanager-${hibernateVersion}.jar"/>
    </resources>
    <dependencies>
        <module name="asm.asm"/>
        <module name="com.fasterxml.classmate"/>
        <module name="javax.api"/>
        <module name="javax.annotation.api"/>
        <module name="javax.enterprise.api"/>
        <module name="javax.persistence.api"/>
        <module name="javax.transaction.api"/>
        <module name="javax.validation.api"/>
        <module name="javax.xml.bind.api"/>
        <module name="org.antlr"/>
        <module name="org.apache.commons.collections"/>
        <module name="org.dom4j"/>
        <module name="org.javassist"/>
        <module name="org.jboss.as.jpa.spi"/>
        <module name="org.jboss.jandex"/>
        <module name="org.jboss.logging"/>
        <module name="org.jboss.vfs"/>
        <module name="org.hibernate.commons-annotations"/>
        <module name="org.hibernate.search.hibernate-infinispan-repackage" services="import" optional="true" slot="${hibernate.search.version}"/>
        <module name="org.hibernate.jipijapa-hibernate4-3" services="import"/>
    </dependencies>
</module>