<?xml version="1.0" encoding="UTF-8"?>
<!--
 ~ Hibernate Search, full-text search for your domain model
 ~
 ~ License: GNU Lesser General Public License (LGPL), version 2.1 or later
 ~ See the lgpl.txt file in the root directory or <http://www.gnu.org/licenses/lgpl-2.1.html>.
  -->
<module xmlns="urn:jboss:module:1.3" name="org.hibernate.search.engine" slot="${module-slot.org.hibernate.search.full-id}">
    <resources>
        <artifact name="${org.hibernate:hibernate-search-engine}" />
    </resources>
    <dependencies>
        <module name="javax.transaction.api" />
        <module name="org.hibernate.commons-annotations" />
        <module name="org.apache.lucene" export="true" slot="${module-slot.org.apache.lucene}" />
        <module name="org.apache.lucene.internal" slot="${module-slot.org.apache.lucene}" />
        <module name="org.jboss.logging" />

        <!-- Elasticsearch support -->
        <module name="org.hibernate.search.elasticsearch" export="true" services="import" optional="true" slot="${module-slot.org.hibernate.search.full-id}" />

        <!-- JMS backend support -->
        <module name="org.hibernate.search.backend-jms" export="true" optional="true" slot="${module-slot.org.hibernate.search.full-id}" />

        <!-- JGroups backend support -->
        <module name="org.hibernate.search.backend-jgroups" services="import" optional="true" slot="${module-slot.org.hibernate.search.full-id}" />

        <!-- Infinispan extensions - provided by the Infinispan project -->
        <module name="org.infinispan.hibernate-search.directory-provider" slot="${module-slot.org.infinispan.integration}" services="import" optional="true" />

        <!-- optional Apache Avro serialization -->
        <module name="org.hibernate.search.serialization-avro" slot="${module-slot.org.hibernate.search.full-id}" services="import" optional="true" />

        <!-- optional Apache Tika integration -->
        <module name="org.apache.tika" slot="${module-slot.org.apache.tika}" optional="true" />

        <!-- For naming -->
        <module name="javax.api" />
        <module name="org.jboss.as.naming" />
    </dependencies>
</module>
