<?xml version="1.0" encoding="UTF-8"?>
<!--
 ~ Hibernate Search, full-text search for your domain model
 ~
 ~ License: GNU Lesser General Public License (LGPL), version 2.1 or later
 ~ See the lgpl.txt file in the root directory or <http://www.gnu.org/licenses/lgpl-2.1.html>.
  -->
<module xmlns="urn:jboss:module:1.1" name="org.hibernate.search.elasticsearch" slot="${hibernate.search.version}">
    <resources>
        <resource-root path="hibernate-search-elasticsearch-${hibernate.search.version}.jar" />
    </resources>
    <dependencies>
        <module name="org.hibernate.search.engine" slot="${hibernate.search.version}"/>
        <module name="org.hibernate.search.elasticsearch-client" slot="${hibernate.search.version}"/>
        <module name="org.hibernate.search.elasticsearch-gson" slot="${hibernate.search.version}"/>
        <module name="org.hibernate.search.elasticsearch-sniffer" slot="${hibernate.search.version}"/>
        <module name="javax.xml.bind.api"/>
        <module name="org.hibernate.commons-annotations"/>
        <module name="org.jboss.logging"/>
        <module name="org.apache.httpcomponents"/>

        <!-- AWS authentication support -->
        <!-- Note: we must export the services (hence the classes), because services are loaded using the -engine classloader -->
        <module name="org.hibernate.search.elasticsearch-aws" export="true" services="export" optional="true" slot="${hibernate.search.version}" />
    </dependencies>
</module>
