<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="1.0">

    <persistence-unit name="integration" transaction-type="JTA">
        <provider>org.hibernate.ejb.HibernatePersistence</provider>
        <class>org.hibernate.search.test.integration.jtaspring.Snert</class>
        <class>org.hibernate.search.test.integration.jtaspring.Container</class>
        <class>org.hibernate.search.test.integration.jtaspring.Box</class>
        <class>org.hibernate.search.test.integration.jtaspring.Doughnut</class>
        <class>org.hibernate.search.test.integration.jtaspring.Muffin</class>
    </persistence-unit>

    <persistence-unit name="jbossjta" transaction-type="JTA">
        <provider>org.hibernate.ejb.HibernatePersistence</provider>
        <properties>
            <property name="" value="" />
        </properties>
    </persistence-unit>

</persistence>
